.center {
    width: 56%;
    left: 20%;
    padding: 2%;
    text-align: left;
    background: #f0f0f0;
    position: relative;
}

.top {
    width: 58%;
    left: 20%;
    margin-top: 3%;
    padding: 1%;
    text-align: right;
    background: #4CAF50;
    position: relative;
}