<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find me</title>
</head>

<body>
<div align="center">
    <h1>Welcome to Find me</h1>
    <link rel="stylesheet" href="css/index.css">
</div>

<div class="center">
    <form id="login-form">
        <p><input id="email" type="text" placeholder="Username" required></p>
        <p><input id="password" type="password" placeholder="Password" required></p>
        <button id="login" type="submit">Login</button>
    </form>
    <p id="register-block"><br>Want to register? <a href="#">Click here</a></p>

    <form id="registration-form" hidden>
        <p><input type="text" name="firstName" placeholder="First name *" required></p>
        <p><input type="text" name="lastName" placeholder="Last name *" required></p>
        <p><input type="text" name="email" placeholder="E-mail *" required></p>
        <p><input type="text" name="password" placeholder="Password *" required></p>
        <p><input type="text" name="phone" placeholder="Phone *" required></p>
        <p><input type="text" name="country" placeholder="Country *" required></p>
        <p><input type="text" name="town" placeholder="Town"></p>
        <p><input type="text" name="age" placeholder="Age"></p>
        <p><input type="text" name="relationshipStatus" placeholder="Relationship status"></p>
        <p><input type="text" name="religion" placeholder="Religion"></p>
        <p><input type="text" name="school" placeholder="School"></p>
        <p><input type="text" name="university" placeholder="University"></p>

        <p>* - means that this fields are required</p>
        <br>
        <button type="submit">Register</button>
    </form>

    <p id="login-block" hidden><br>Want to login? <a href="#">Click here</a></p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<script>
    document.getElementById("register-block").onclick = function(){
        document.getElementById("login-form").style.display = "none";
        document.getElementById("register-block").style.display = "none";
        document.getElementById("registration-form").style.display = "block";
        document.getElementById("login-block").style.display = "block";
    };

    document.getElementById("login-block").onclick = function(){
        document.getElementById("login-form").style.display = "block";
        document.getElementById("register-block").style.display = "block";
        document.getElementById("registration-form").style.display = "none";
        document.getElementById("login-block").style.display = "none";
    };

    $("#registration-form").submit(function (e) {
        $.ajax({
            url:"/register-user",
            type: "POST",
            data: $('#registration-form').serialize(),
            success: function success(data) {
                alert("Registration completed");
            },
            error: function (xhr) {
                alert("Registration failed");
            }
        });
        return false;
    });

    $("#login-form").submit(function (e) {
        $.ajax({
            url:"/login",
            type:"POST",
            data: {
                email : document.getElementById("email").value,
                password : document.getElementById("password").value
            },
            success: function success(data) {
                alert("Login completed");
            },
            error: function (xhr) {
                alert("Login failed");
            }
        });
    });
</script>
</html>